{layout='inc/layout'}

{layout:set name='left-sidebar'}

	{embed='inc/left-sidebar'}

{/layout:set}

{exp:channel:entries channel='testimonials_landing' dynamic='no' limit='1'}

	{if testimonials_title}

		<h1>{testimonials_title}</h1>

	{if:else}

		<h1>{title}</h1>

	{/if}

	{if testimonials_overview}

		<div class="summary">

			{testimonials_overview}

		</div>

	{/if}

{/exp:channel:entries}

<div class="testimonials-paginated-listing">

	<div class="listing">

		<ul>

			{exp:channel:entries channel='testimonials' dynamic='no' paginate='bottom' limit='5'}

				<li>

					<blockquote>

						{testimonial_quote}

						<div class="cite">

							<b>{title}</b>

							<div>

								{if '{testimonial_industry:count}' == '1'}{testimonial_industry}{testimonial_industry:title}{/testimonial_industry}{/if}{if ('{testimonial_industry:count}' == '1') AND (testimonial_city OR testimonial_state)} | {/if}{if testimonial_city}{testimonial_city}{/if}{if testimonial_city AND testimonial_state}, {/if}{if testimonial_state}{testimonial_state}{/if}

							</div>

						</div>

					</blockquote>

				</li>

				{paginate}

					{pagination_links}

						<div class="pagination">

							{previous_page}

								<div class="back">

									<a href="{pagination_url}">

										<span class="arrow">&larr;</span> Back

									</a>

								</div>

							{/previous_page}

							<div class="pages">

								{page}

									<a href="{pagination_url}" class="{if current_page}active{/if}">{pagination_page_number}</a>

								{/page}

							</div>

							{next_page}

								<div class="next">

									<a href="{pagination_url}">

										Next <span class="arrow">&rarr;</span>

									</a>

								</div>

							{/next_page}

						</div>

					{/pagination_links}

				{/paginate}

			{/exp:channel:entries}

		</ul>

	</div>

</div>