<div id="right-sidebar">

	<div class="category-nav">

		<div class="title">

			Filter by Category

		</div>

		<div class="">

			{exp:zoo_triggers:categories channel='{if segment_2 == 'faqs'}faqs{if:elseif segment_2 == 'videos'}videos{if:elseif segment_2 == 'forms-and-resources'}forms_and_resources{if:elseif segment_2 == 'tools-and-apps'}tools_and_apps{if:else}compliance_watch{/if}' path='/{segment_1}/{segment_2}/category' all_text='Show all categories' show_counter='no' show_empty='no'}

		</div>

	</div>

</div>