{layout='inc/layout'}

{layout:set name='left-sidebar'}

	{embed='inc/left-sidebar'}

{/layout:set}

{exp:channel:entries channel='our_leadership' limit='1'}

	{if our_leadership_title}

		<h1>{our_leadership_title}</h1>

	{if:else}

		<h1>{title}</h1>

	{/if}

	{if our_leadership_position}

		<h2 class="bio-title">{our_leadership_position}</h2>

	{/if}

	{if our_leadership_photo}

		<div class="bio-photo">

			<picture>

				<!--[ if IE 9 ]>

					<video style="display: none;">

				<![ endif ]-->

					<source srcset="{our_leadership_photo:1x}" media="(min-width: 600px)">

					<source srcset="{our_leadership_photo}">

				<!--[ if IE 9 ]>

					</video>

				<![ endif ]-->

				<img srcset="{our_leadership_photo}" alt="{title}" />

			</picture>

		</div>

	{/if}

	{our_leadership_bio}

{/exp:channel:entries}