{layout='inc/layout'}

{layout:set name='left-sidebar'}

	{embed='inc/left-sidebar'}

{/layout:set}

{exp:channel:entries channel='careers_landing' dynamic='no' limit='1'}

	{if careers_title}

		<h1>{careers_title}</h1>

	{if:else}

		<h1>{title}</h1>

	{/if}

	{if careers_overview}

		<div class="summary">

			{careers_overview}

		</div>

	{/if}

{/exp:channel:entries}

<div class="careers-paginated-listing">

	<div class="listing">

		<ul>

			{exp:channel:entries channel='careers' dynamic='no' limit='10' paginate='bottom'}

				<li>

					{if career_title}

						<h2>

							<a href="{page_url}">{career_title}</a>

						</h2>

					{if:else}

						<h2>

							<a href="{page_url}">{title}</a>

						</h2>

					{/if}

					{if career_short_description}

						<div class="item-summary">

							{career_short_description}

						</div>

					{/if}

					<div class="more">

						<a href="{page_url}">

							Read More <span class="arrow">&rarr;</span>

						</a>

					</div>

				</li>

				{paginate}

					{pagination_links}

						<div class="pagination">

							{previous_page}

								<div class="back">

									<a href="{pagination_url}">

										<span class="arrow">&larr;</span> Back

									</a>

								</div>

							{/previous_page}

							<div class="pages">

								{page}

									<a href="{pagination_url}" class="{if current_page}active{/if}">{pagination_page_number}</a>

								{/page}

							</div>

							{next_page}

								<div class="next">

									<a href="{pagination_url}">

										Next <span class="arrow">&rarr;</span>

									</a>

								</div>

							{/next_page}

						</div>

					{/pagination_links}

				{/paginate}

			{/exp:channel:entries}

		</ul>

	</div>

</div>