
/*-------------------------------------------
	Baseline Styles
-------------------------------------------*/


html {

	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

body {

	@include font-size(16);
	line-height: (26/16) + em;
	@include ubuntu-normal;
	color: $charcoal;
	background: $white;
	-webkit-font-smoothing: auto;

}


/* Block Level */


h1 {

	margin-bottom: (31/40) + em;
	@include font-size(40);
	line-height: (48/40) + em;
	@include ubuntu-light;
	color: $blue;

}

h2 {

	margin-bottom: (29/30) + em;
	@include font-size(30);
	line-height: (40/30) + em;
	@include ubuntu-light;
	color: $cyan;

}

h3 {

	margin-bottom: (30/24) + em;
	@include font-size(24);
	line-height: (30/24) + em;
	@include ubuntu-bold;
	color: $blue;

}

h4 {

	margin-bottom: (26/20) + em;
	@include font-size(20);
	line-height: (26/20) + em;
	@include ubuntu-bold;

}

h5 {

	margin-bottom: (26/18) + em;
	@include font-size(18);
	line-height: (26/18) + em;
	@include ubuntu-bold;
	color: $green;

}

h6 {

	margin-bottom: (26/16) + em;
	@include font-size(16);
	line-height: (26/16) + em;
	@include ubuntu-bold;

}

p {

	margin-bottom: (26/16) + em;

	&:last-of-type {}

}

ol {

	margin-bottom: (26/16) + em;
	padding: 0 0 0 21px;
	list-style-type: decimal;

	li {}

}

ul {

	margin-bottom: (26/16) + em;
	padding: 0 0 0 20px;
	list-style-type: disc;

	li {}

}

dl {

	margin-bottom: (26/16) + em;

}

	dt {

		@include ubuntu-bold;

	}

	dd {}

table {

	border: 1px solid #dddddd;

}

th {

	// padding: 8px;
	// @include font-size(11);
	// line-height: (13/11) + em;
	@include ubuntu-bold;
	// color: $gray;

}

td {

	padding: 5px 8px;
	// @include font-size(12);
	// line-height: (14/12) + em;
	border: 1px solid #dddddd;

}

article {}

caption {}

figure {}

figcaption {

	// margin: 20px 0 0 0;
	// @include font-size(16);
	// line-height: (20/16) + em;
	// @include ff-tisa-sans-italic;

}

blockquote {

	p {

		// @include font-size(19);
		// line-height: (26/19) + em;

	}

}

/* Inline */

i,
em {

	@include ubuntu-normal-italic;

}

cite {

	// @include font-size(15);
	// line-height: (18/15) + em;

	&:before {

		// content: "— ";

	}

}

b,
strong {

	@include ubuntu-bold;

}

a {

	color: $teal;
	text-decoration: none;

	&:link {}

	&:hover,
	&:focus {}

}

img {

	display: block;
	box-sizing: content-box;
	margin-bottom: (50/26) + em;

}

code {}

sub, sup {

	// line-height: 0;

}

ins {

	// color: $black;
	// background-color: #fcd700;
	// text-decoration: none;

}

mark {

	// color: $black;
	// background-color: #fcd700;
	// font-style: italic;
	// font-weight: bold;

}

::-moz-selection {

	// color: $black;
	background: rgba($cyan, 0.25);
	text-shadow: none;

}

::selection {

	// color: $gray;
	background: rgba($cyan, 0.25);
	text-shadow: none;

}


// Mozilla doesn't style place holders by default


input:-moz-placeholder {}

textarea:-moz-placeholder {}


/*-------------------------------------------
	Forms
-------------------------------------------*/


form {}

fieldset {}

legend {

	// display: block;
	// margin: 0 0 10px 0;
	// @include font-size(16);
	// line-height: (20/16) + em;
	// @include ff-tisa-sans-regular;
	// text-transform: uppercase;

}

label {

	display: block;
	// margin: 0 0 3px 0;
	@include font-size(16);
	line-height: (26/16) + em;
	@include ubuntu-normal;
	color: $charcoal;

}

input {

	&[type="text"],
	&[type="search"],
	&[type="email"],
	&[type="tel"],
	&[type="password"] {

		// Override general styles applied to iOS devices.

		-webkit-appearance: none;

		display: block;
		width: 100%;
		padding: 16px 20px;
		@include font-size(16);
		line-height: (26/16) + em;
		@include ubuntu-normal;
		color: $charcoal;
		border: 1px solid rgb(216, 232, 243);
		border-radius: 0;
		outline: none;

	}

	&[type="checkbox"] {

		position: relative;
		top: -6px;
		margin: 0 7px 0 0;

	}

	&[type="radio"] {

		position: relative;
		top: -1px;
		margin: 0 5px 0 0;

	}

	&[type="file"] {}

	&[type="button"],
	&[type="submit"] {

		// Override general styles applied to iOS devices.

		-webkit-appearance: none;

		display: block;
		padding: 18px 80px;
		@include font-size(14);
		line-height: (24/14) + em;
		@include ubuntu-bold;
		text-transform: uppercase;
		color: $white;
		background: $cyan;
		border: none;
		border-radius: 0;
		outline: none;

	}

	&[type="reset"] {

		// Override general styles applied to iOS devices.

		-webkit-appearance: none;

		display: block;
		padding: 17px 80px;
		@include font-size(14);
		line-height: (24/14) + em;
		@include ubuntu-bold;
		text-transform: uppercase;
		color: $white;
		background: $cyan;
		border: none;
		border-radius: 0;
		outline: none;

	}

}

select {

	// Override general styles applied to iOS devices.

	// -webkit-appearance: none;

	// display: block;
	// width: 100%;
	// padding: 16px 20px;
	// @include font-size(16);
	// line-height: (26/16) + em;
	// @include ubuntu-normal;
	// color: $cyan;
	// border: 1px solid rgb(216, 232, 243);
	// border-radius: 0;
	// outline: none;

}

textarea {

	// Override general styles applied to iOS devices.

	-webkit-appearance: none;

	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	padding: 16px 20px;
	@include font-size(16);
	line-height: (26/16) + em;
	@include ubuntu-normal;
	color: $charcoal;
	border: 1px solid rgb(216, 232, 243);
	border-radius: 0;
	outline: none;

}

button {

	// Override general styles applied to iOS devices.

	-webkit-appearance: none;

	display: block;
	padding: 18px 80px;
	@include font-size(14);
	line-height: (24/14) + em;
	@include ubuntu-bold;
	text-transform: uppercase;
	color: $white;
	background: $cyan;
	border: none;
	border-radius: 0;
	outline: none;

}