
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding


$green: rgb(126, 184, 66);
$teal: rgb(41, 176, 189);
$blue: rgb(16, 94, 125);
$cyan: rgb(39, 177, 230);
$charcoal: rgb(50, 50, 50);


// Social


// $facebook: rgb(0, 0, 0);
// $linkedin: rgb(0, 0, 0);
// $twitter: rgb(0, 0, 0);



// Miscellaneous


$required: rgb(255, 99, 74);
